@media(max-width:1130px) {
  .box1 {
    padding: 10px;
  }

  .box2 {
    padding: 10px;
  }

  .section-content {
    column-gap: 10px;
  }
}


@media(max-width:1100px) {
  .nav__images {
    width: 100%;
  }
}

@media(max-width:1000px) {
  .box1__title {
    font-size: 20px;
    line-height: 120%;
  }

  .box2__title {
    font-size: 20px;
    line-height: 120%;
  }

  .box1__text {
    font-size: 14px;
    line-height: 120%;
  }

  .box2__text {
    font-size: 14px;
    line-height: 120%;
  }

  .box2__tel {
    font-size: 14px;
    line-height: 120%;
  }

  .box2__gmail {
    font-size: 14px;
    line-height: 120%;
  }


}

@media(max-width:950px) {
  .nav__logo {
    width: 95px;
    margin: 10px auto;
  }

  .nav__link {
    font-size: 17px;
    line-height: 120%;
    margin: 0 5px;
  }

  .nav__list {
    margin-bottom: 15px;
  }
}

@media(max-width:850px) {
  .nav__logo {
    width: 90px;
    margin: 10px auto;
  }

  .nav__link {
    font-size: 16px;
    line-height: 120%;
    margin: 0 5px;
  }

  .nav__list {
    margin-bottom: 10px;
  }

  .box1__title {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 5px
  }

  .box2__title {
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 5px
  }

  .box1__text {
    font-size: 13px;
    line-height: 120%;
  }

  .box2__text {
    font-size: 13px;
    line-height: 120%;
  }

  .box2__tel {
    font-size: 13px;
    line-height: 120%;
  }

  .box2__gmail {
    font-size: 13px;
    line-height: 120%;
  }
}

@media(max-width:650px) {
  .nav__logo {
    width: 80px;
    margin: 10px auto;
  }

  .nav__link {
    font-size: 14px;
    line-height: 120%;
    margin: 0 5px;
  }

  .section-content {
    flex-direction: column;
    row-gap: 10px;
  }

  .box2 {
    max-width: 100%;
    width: 100%;
  }
  .box2__text{
    margin-bottom: 5px;
    text-align: justify;
  }
  .box2__gmail{
    margin-top: 10px;
  }
  .box1__title{
    text-align: center;
  }
  .box2__title{
    text-align: center;
  }
  .box1__text{
    text-align: justify;
  }
}

@media(max-width:560px) {
  .nav__logo {
    width: 70px;
    margin: 10px auto;
  }

  .nav__link {
    font-size: 13px;
    line-height: 120%;
    margin: 0 5px;
  }

}

@media(max-width:530px) {
  .nav__logo {
    width: 60px;
    margin: 10px auto;
  }
  
  .nav__link {
    font-size: 12px;
    line-height: 120%;
    margin: 0 10px;
  }
  
  .box1__title {
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 5px
  }
  
  .box2__title {
    font-size: 15px;
    line-height: 120%;
    margin-bottom: 5px
  }
  
  .box1__text {
    font-size: 12px;
    line-height: 120%;
  }
  
  .box2__text {
    font-size: 12px;
    line-height: 120%;
  }
  
  .box2__tel {
    font-size: 12px;
    line-height: 120%;
  }

  .box2__gmail {
    font-size: 12px;
    line-height: 120%;
  }
}
@media(max-width:320px){
  .box1__title {
    font-size: 13px;
    line-height: 120%;
    margin-bottom: 5px
  }
  
  .box2__title {
    font-size: 13px;
    line-height: 120%;
    margin-bottom: 5px
  }
  
  .box1__text {
    font-size: 10px;
    line-height: 120%;
  }
  
  .box2__text {
    font-size: 10px;
    line-height: 120%;
  }
  
  .box2__tel {
    font-size: 10px;
    line-height: 120%;
  }

  .box2__gmail {
    font-size: 10px;
    line-height: 120%;
  }
}